body {
    background-image: url("https://specials-images.forbesimg.com/imageserve/5d51fc1995808800097c8abb/960x0.jpg?fit=scale");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  
  h3{color:white;}

  #logos{text-align:right}

  #h{background:black;
    color: white;
    font-size: 65px;
    padding-left: 10px;
    opacity: 0.5;}

  h2{background:black;
    color: white;
    font-size: 65px;
    padding-left: 10px;
    opacity: 0.5;}

h4{font-size: xx-large;
color: white;}

h2{font-size: xx-large;}
  